/* MOB HOMEPAGE*/
/* 1. ---General Styles--- */

#mobile-outline {
    outline: 20px solid #333;
    max-width: 412px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
 } 
 
 body {
    color: #626262;
    font-family: 'Sanchez', 'Times New Roman', serif;
 }
 
 a {
    text-decoration: none;
    /* add */
 }
 
 input, textarea {
    display: block;
    margin: 0;
    padding: 0;
 }
 
 .cr-red {
    color: #9a2018;
 }
 
#book_now_button {
    display: none;}


.thanks_for_booking {
    background-color: #9a2018; 
    color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    height: 50px; 
    font-family: 'Times New Roman', Times, serif;}

#book_now_button:checked + .thanks_for_booking {
        animation: zoom-in-out 0.4s ease; }

.thanks_for_booking:hover {
    background-color: #e81102;
    transform: scale(1.1); }


.thanks_for_booking::after {
    content: "Book Now";
    color: white;}


#book_now_button:checked + .thanks_for_booking::after {
    content: "Thank You for Booking!";}

@keyframes zoom-in-out {
100% {transform: scale(1); }}
 
 /* 2. ---Main Nav--- */
 /*hamburger menu*/
 
 #main-nav label img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 20px; } 
 
 
 
 #main-nav input, #burger-con {
    display: none;}
 
 
 #main-nav input:checked ~ #burger-con {
    display: block;
 }
 
 #main-nav input:checked ~ label img {
    transform: rotate(90deg);
 }
 
 #main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#main-nav ul li {
    border-bottom: 1px solid #efefef; 
}

#main-nav ul li:first-child {
    border-top: 1px solid #efefef; 
}

#main-nav ul li:last-child {
    margin-bottom: 10px; 
}

#main-nav ul li a {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #505050;
    text-decoration: none; }

#main-nav ul li a:hover {
    color: #9A2018; }
 
 #logo {
    margin-bottom: 20px;
    max-width: 382px;}

/* 3. ---Main Hero Image--- */

#hero {
    background: url(../images/images_cr/mob_hm/mob_hm_hero_01.jpg) no-repeat;
    height: 250px;}

 /*fondo blanco encima de la foto*/
 .hero-img-h2 span,  .hero-img-h3 span {
    color: #9a2018;
    font-size: 12px;
 }
 
 .book-now {
    background-color: #9a2018;
    color: #fff;
    font-size: 16px;
    transition: background-color 500ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition: all 0.3s ease;
    cursor: pointer;
 }
 
 .book-now:hover {
    background-color: rgb(196, 28, 28);
 }
 
 #book-now-hero {
    height: 67px;
 }
 
 #hero-heading-box {
    align-self: end;}

 .hero-img-h2 span,  .hero-img-h3 span {
    color: #9a2018;
    font-size: 12px;}
 
 .line-separator {
    margin-top: 20px;
    border-top: solid 3px #CF6666;
    padding-top: 20px;}
 
 #hero-summary p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;}

/* 4. ---Main Hero Image Contact--- */

.fas {
    font-size: 42px;
    color: #9a2018;
    margin: 0 auto;
    float: left;
 }
 
 .fa-mobile-alt {
    margin-right: 10px;
    margin-left: 3px;
    margin-bottom: 20px;
 }
 
 .fa-map-marker-alt {
    margin-right: 10px;
 }
 
 #contact {
    font-size: 11px;
    background-color: #efefef;
    padding-top: 30px;
    padding-bottom: 30px;}
 
/* 5. ---Why Choose Us--- */


#why-choose-us-nav {
    padding-top: 20px;
 }
 
 #why-choose-us-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }
 #why-choose-us-nav ul li {
    margin-bottom: 15px;
 }
 
 #why-choose-us-nav ul li a {
   color: inherit;
   padding: 5px;
 }
 
 
 #why-choose-us-nav ul li a.selected{
    border-left: #9a2018 solid 5px;}
 
 #why-choose-us-hero-con {
   background: url(../images/images_cr/mob_hm/mob_hm_sect_02.jpg) no-repeat;
   height: 195px;
 }
 
 #why-choose-us-heading-box {
    align-self: end;
 }
 
 .why-choose-us-image {
    float: left;
    margin-right: 20px;
    margin-top: 30px;
 }
 
 .why-choose-us-image-con h2 {
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 30px;
 }
 
 .why-choose-us-image-con p {
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 20px;
 }
 
 .why-choose-us-image-con a {
    color: #707070;
    font-size: 12px;
 }
 
  #why-choose-us-bottom-nav {
    background-color: #9a2018;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
 }
 
 #why-choose-us-bottom-nav ol {
    list-style-type: none;
    margin: 0 0 0 20px;
    padding: 0;
    text-align: center;
 }
 
 #why-choose-us-bottom-nav ol li {
    display: inline-block; 
    margin-right: 20px;
 }
 
 #why-choose-us-bottom-nav ol li a {
    padding: 5px;
    color: #fff;
    font-family: "Times New Roman", Times, serif; 
    text-decoration: underline; }


#more_info{
    color: #9a2018;
    text-decoration: underline;
}
/* 6. ---About & FAQ--- */

#about-hero-con {
    background: url(../images/images_cr/mob_hm/mob_hm_sect_03.jpg) no-repeat;
    height: 195px;
 }
 
 #about-hero-heading-box {
    align-self: end;
 }
 
 #about-us-text {
    padding-bottom: 60px;
 }
 
 #about-us-text p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 22px;
 }
 
 #about-us-text-column2 {
    font-style: italic;
 }
 
 #faq-con {
    background-color: #f4f4f4;
    padding-top: 35px;
    padding-bottom: 30px;
 }
 
 #faq-con h2 {
    font-size: 24px;
    margin-bottom: 20px;
 }
 
 #faq-con h2 span {
    color: #9a2018;
    font-size: 16px;
 }
 
 .faq-items {
    margin-bottom: 16px;
 }
 
 .faq-items h3 {
    background: #e8e7e7;
    padding: 16px;
    font-size: 16px;
 }
 
 .faq-items ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
 }
 
 .faq-items li {
    padding: 8px 0;
    border-bottom: 1px solid #9a2018;
 }   
 
 .faq-items a {
    color: inherit;
    font-size: 13px;
 }
 
 #faq-text-con {
    margin-top: 20px;
    margin-bottom: 20px;}

details {
        margin-bottom: 5px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;}
    
summary {
        cursor: pointer;
        font-weight: bold;
        font-size: 15px;}
    
details[open] summary {
        color: #9a2018;}
    
details div ul {
        margin: 8px 0;
        padding-left: 20px;}

details div ul li a {
        text-decoration: none;
        color: #3d3d3d;}

details div ul li a:hover {
        text-decoration: underline;
        color: #9a2018;}

/* 7. ---Contact--- */

#contact-hero-con {
    background: url(../images/images_cr/mob_hm/mob_hm_sect_04.jpg);
    height: 200px;
 }

 #contact-hero-heading-box {
    align-self:end;}
 
 #contact-hero-text {
    margin-top: 15px;
    margin-bottom: 25px;
 }
 
 #contact-hero-address p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;}
 
 #contact-hero-address {
    margin-bottom: 30px;}
 
 #contact-hero-address h3 {
    margin-bottom: 25px;}
 
 #contact-hero-form form{
 display: flex;
 flex-direction: column;}
 
 #contact-hero-form input, textarea{
 padding: 22px;
 border: 2px solid #d6d6d6;
 background-color: #f7f7f7;
 border-radius: 5px;
 margin-bottom: 30px;
 font: inherit;
 width: auto;}
 
 #contact-hero-form textarea{
    height: 250px;
 }
 
 #contact-hero-form input[type="submit"]{
    padding: 12px 28px;
    background: #9a2018;
    color: #fff;
    border: none;
    transition: all .5s ease;
    align-self: flex-end;}


 /* 8. ---Footer--- */
 
 #footer-hero {
    background-image: url(../images/images_cr/mob_hm/mob_hm_footer.png);
     background-repeat: no-repeat;
    color: #e1e0e0;
    font-size: 12px;
    margin-top: 40px;
    padding-bottom: 80px;
 }
 
 #footer-hero h3 {
    margin-top: 30px;
    font-size: 28px;
    margin-bottom: 16px;
 }
 
 #footer-privacy .line-seperator {
    margin-top: 0px;
 }
 
 #footer-contact-info h3 {
    font-size: 23px;
 }
 
 #footer-contact-info p {
    margin-bottom: 20px;
    line-height: 18px;
    font-size: 11px;}

/* ----------------------------Spa page---------------------------- */
/* 1. ---spa Hero Image--- */
#spa_hero {
    background: url(../images/images_cr/mob_spa/mob_spa_hero.jpg) no-repeat;
    height: 220px;}

 /*fondo blanco encima de la foto*/
 .hero-img-h2, .hero-img-h3 {
    background: #fff;
    padding: 5px 15px;
    font-size: 21px;}
    
.bold{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding-bottom: 0;
    color: #9a2018;}



#spa_section_1 {
    background: url(../images/images_cr/mob_spa/mob_spa_1.jpg) no-repeat;
    height: 220px;
    align-items: end;}

#spa_section_2{
    background: url(../images/images_cr/mob_spa/mob_spa_3.jpg) no-repeat;
    height: 220px;
    align-items: end; }

#spa-section1-summary{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;}

#policies-summary p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;}

#spa_section_3{
    background: url(../images/images_cr/mob_spa/mob_spa_2.jpg) no-repeat;
    height: 220px;
    align-items: end; }
    
#circumstances-summary p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;}

    
#spa_section_4{
        background: url(../images/images_cr/mob_spa/mob_spa_4.jpg) no-repeat;
        height: 220px;
        align-items: end; }
        
#ontario-spa-summary p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 20px;}

a {color: #9a2018;}     
a:hover {
        text-decoration: underline; 
        color: #4c0808; }

#spa_award{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: #282525;
    text-decoration: underline;}

#spa_section_5{
        background: url(../images/images_cr/mob_spa/mob_spa_products.jpg) no-repeat;
        height: 220px;
        align-items: end; }
        
#products-summary p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 20px;}
        

#checkbox_visit_spa .visit_spa [type="checkbox"]:checked + span {
    text-decoration: underline;
    color: #505050;
    position: relative;}
              
#checkbox_visit_spa .visit_spa [type="checkbox"]:checked + span::after {
    content: " 🧖🏼‍♀️ 🥳 🧖🏻‍♂️";
    margin-left: 10px;
    /*background just for the emojis*/
    background: #9a2018; 
    border-radius: 5px; 
    padding: 8px 8px; 
    display:inline;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;}
              
#checkbox_visit_spa .visit_spa [type="checkbox"] + span {
    text-decoration: none;
    color: inherit;}

/* ----------------------------Activities page---------------------------- */
/* 1. --- Hero Image--- */
#activities_hero{
    background: url(../images/images_cr/mob_activities/mob_activities_hero.jpg) no-repeat;
    height: 220px;  }
#spring-section1-summary{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;}
    
/* Hide checkbox */
#read_more_button {
    display: none;}
    
/* read more button */
.read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #9a2018;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
    margin-bottom: 20px;
    transition: all 0.3s ease; }
    
/* change color when courser is on top  */
.read-more:hover {
    background-color: rgb(196, 28, 28); }
         
    
.read-more::after {
    content: "Read More"; 
    display: inline-block;
    color: white;}
    
/* Change button text checked to read less */
#read_more_button:checked + .read-more::after {
    content: "Read Less";}
    
/* make text appear when checked */
.more_info {
    display: none;
    margin-top: 15px;
    clear: both; }
    
#read_more_button:checked + .read-more + .more_info {
    display: block;}
    
#park_activities{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;}
    
#fishing{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;}
#algonquin_lake{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;}
    
/* Spring activities */
#spring_hero{
    background: url(../images/images_cr/mob_activities/mob_activities_srping_section_hero.jpg) no-repeat;
    height: 220px;  }

#hero-spring-box{
    align-self: end;}
    
#read_more_spring {
    display: none;}    
    
/* change button text */
#read_more_spring:checked + .read-more::after {
    content: "Read Less";}
    
#read_more_spring:checked + .read-more + .more_info_spring {
    display: block}
    
.more_info_spring {
    display: none; 
    margin-top: 20px;}

#swimming{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px}
    
#swimming_hero{
    background:url(../images/images_cr/mob_activities/mob_activities_pool.jpg) no-repeat;
    height: 200px;
    margin-bottom: 0; }
    
#algoquin_hero{
    background:url(../images/images_cr/mob_activities/mob_activities_park_spring.jpg) no-repeat;
    height: 200px;
    margin-bottom: 0;}

#algoquin_spring{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px}

#motor_spring{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px}
    
#pickleball_spring{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px }

#kayak_spring{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px  }

#hiking_spring{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px }
    
/* summer section */
#summer_hero_img{
    background: url(../images/images_cr/mob_activities/mob_activities_summer_hero.jpg) no-repeat;
    height: 220px;  }

#summer-hero-heading-box{
    align-self: flex-end;}
    
#summer_summary{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px}
    
#algoquin_summer{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px}
    
#motor_summer{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px}
    
#pickleball_summer{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px}
    
#kayak_summer{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px }
    
#hiking_summer{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px}
    
#other_summer{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px}
    
/* fall section */
#fall_hero_img{
    background: url(../images/images_cr/mob_activities/mob_activities_fall_hero.jpg) no-repeat;
    height: 220px;  }
#fall-hero-heading-box{
    align-self: flex-end;}
    
#fall-section-summary{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px}
    
    
/* button read more/less */
#read_more_fall {
    display: none;}
    
#read_more_fall:checked + .read-more::after {
    content: "Read Less";}
    
#read_more_fall:checked + .read-more + .more_info_fall {
    display: block;}
    
.more_info_fall {
    display: none;
    margin-top: 15px;}
    
#activities_fall{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px}
    
#motor_fall{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px}
    
#pickleball_fall{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px}
    
#riding_fall{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px} 
    
#hiking_fall{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px}
    
/* winter section */
#winter_hero_img{
    background: url(../images/images_cr/mob_activities/mob_activities_winter_hero.jpg) no-repeat;
    height: 220px;  }
#winter-hero-heading-box{
        align-self: flex-end;}
    
#winter-section-summary{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px}
    
#wilderness_winter{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px  }
    
#skiing_winter{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px}
    
#ice_winter{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px  }
    
#algoquin_winter{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px}
    
#activities_winter{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px}
    
    /* ----------------------------Rooms Page---------------------------- */
#rooms_hero{ background: url(../images/images_cr/mob_rooms/mob_rooms_1.jpg) no-repeat;
    height: 230px;}

.list_rooms_info{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    list-style: none; 
    padding: 0; }

.list_rooms_info li::before{
    content: "•";     
    color: #9a2018; 
    font-size: 16px;
    margin-right: 10px}

#rooms_section_1{
    background: url(../images/images_cr/mob_rooms/mob_rooms_section_2.jpg) no-repeat;
    height: 240px;   }

#rooms_section_1_box{
    align-self: flex-end;}

#room-section1-summary{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;}

#room_section_2{
    background: url(../images/images_cr/mob_rooms/mob_rooms_section_3.jpg) no-repeat;
    height: 240px; }

#room_section_2_box{
    align-self: flex-end;}

#room_section_2_summary{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;}

#exclusive_rooms_dropdown{
    margin-top: 20px;}

#masters_section_3{
    background: url(../images/images_cr/mob_rooms/mob_rooms_section_4.jpg) no-repeat;
    height: 240px; }

#masters-summary{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;  
}

#hero-heading-box-masters{
    align-self: flex-end;}

#room_section_4{
    background: url(../images/images_cr/mob_rooms/mob_rooms_4.jpg) no-repeat;
    height: 240px;
}

#hero-heading-box-exotic{
    align-self: flex-end;}

#exotics-summary{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px}

#hero-heading-box-chalets{
    align-self: flex-end;}

#room_section_5{
       background: url(../images/images_cr/mob_rooms/mob_rooms_5.jpg) no-repeat;
        height: 240px}

#chalets-summary{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px}

#hero-heading-box-juniors{
    align-self: flex-end;}

#juniors-summary{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px}

#room_section_6{
    background: url(../images/images_cr/mob_rooms/mob_rooms_6.jpg) no-repeat;
        height: 240px}